.project
**.class
**/target/
dist/*
build/*
log/*
nbproject/private/*
out/*
imsgsFailedMQ.txt
.metadata/
target
logs
.settings
.classpath
*.bak
*.log
.DS_Store
bin/*
target/*
*.class
RemoteSystemsTempFiles/
